<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>HOME</title>
</head>
<body>
    <%- include('header') %>

    <div align="center" class="main">
        <h1>Chào mừng bạn ghé thăm website</h1>
        <% if(kindOfDay == 'Chủ nhật' || kindOfDay == 'Thứ bảy') { %>
            <h2>Hôm nay là cuối tuần</h2>
        <% } else { %>
            <h2>Hôm nay là <%= kindOfDay %></h2>
       <% } %>
    </main>
</body>
</html>